/* Base */
html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: IRANSans !important;
    font-weight: 300;
    animation-duration: 4s !important;
    animation-delay: 1s !important;
    background-color: #fff;
    font-size: 13px;
    line-height: 24px;
    color: #1a1a1a;
}

a {
    color: #1b1b1b;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, input, textarea {
    font-family: IRANSans !important;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3, h4 {
    font-size: 16px;
    padding: 2px 0;
    margin: 1px 0;
}

h5, h6 {
    font-size: 15px;
}

.text-en {
    direction: ltr !important;
}

/* Bootstrap custom */
.nav-tabs {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-form {
        width: 250px;
    }
}

.pi-navbar-nav ul {
    display: none;
}

@media (min-width: 768px) {
    .pi-navbar-nav li {
        position: relative;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #c2c2c2;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav li:hover > ul,
    .pi-navbar-nav li:hover .pi-navbar-caret {
        display: block;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}

/* Block */
.pi-block {
    margin-bottom: 20px;
}

.pi-block-title {
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.pi-block-title h2,
.pi-block-title h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.pi-panel-subline {
    float: right;
}

.pi-panel-tab .panel-heading {
    padding: 0;
    height: 40px;
}

.pi-panel-tab-indicators {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.pi-panel-tab-indicators li {
    display: inline-block;
}

.pi-panel-tab-indicators a {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    color: #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
    border-left: none;
}

.pi-panel-tab-indicators .active a {
    font-weight: bold;
    border-color: #ddd;
    background: #fff;
}

.panel-body > :last-child {
    margin-bottom: 0;
}

.panel-body ul,
.panel-body ol {
    /* margin-left: -20px; */
}

/* logger */
#pi-logger-output {
    position: relative;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
    padding: 0 5px;
}

/* Player */
.pi-player {
    padding: 10px 0;
}

.pi-player .video-js {
    margin: 0 auto;
}

.pi-map-canvas {
    height: 400px;
}

/* Elements */
fieldset dl {
    margin-top: 0;
}

form .icon-question-sign {
    color: #0089D1;
    float: left;
    cursor: pointer;
    margin: 6px 0 0 1px;
    padding: 2px;
}

/* Components */
.page-header {
    margin: 0 0 15px 0;
}

.page-header h1,
.page-header h2 {
    margin: 0;
    font-size: 30px;
}

.page-header .nav {
    margin-bottom: 0;
}

.page-header .search-query {
    border-radius: 5px;
}

/** Pi Specific **/
/* Elements */
.dl-horizontal dt {
    width: 120px;
}

.dl-horizontal dd {
    margin-left: 140px;
}

/* ellipsis with rows/lines : line height is fixed */
.pi-ellipsis {
    overflow: hidden;
    display: block;
    line-height: 1.5;
}

/* Max 1 - 10 row(s)/line(s) */
.pi-ellipsis-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pi-ellipsis-2 {
    max-height: 3em;
}

.pi-ellipsis-3 {
    max-height: 4.5em;
}

.pi-ellipsis-4 {
    max-height: 6em;
}

.pi-ellipsis-5 {
    max-height: 7.5em;
}

.pi-ellipsis-6 {
    max-height: 9em;
}

.pi-ellipsis-7 {
    max-height: 10.5em;
}

.pi-ellipsis-8 {
    max-height: 12em;
}

.pi-ellipsis-9 {
    max-height: 13.5em;
}

.pi-ellipsis-10 {
    max-height: 15em;
}

/* Components */
.pi-divider {
    font-family: serif, sans-serif;
    margin: 0 6px;
    color: #ccc;
}

.pi-legend {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 9px 10px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.pi-widget-header {
    padding: 5px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #d7d7d7;
}

.pi-widget-body {
    padding: 18px 20px;
}

.pi-widget-body > :last-child {
    margin-bottom: 0;
}

/* Avatar */
/* @see: https://github.com/pi-engine/pi/wiki/Design.Avatar */
.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* header */
.pi-header h1,
.pi-header h2 {
    padding: 1px;
    margin: 1px;
    font-size: 35px;
}

.pi-header .pi-header-top {
    background: #f0eeef;
    border-bottom: 1px solid #9f9f9f;
}

.pi-header .pi-header-top .navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 12px;
    border-left: 1px solid #9f9f9f;
    color: #1a1a1a;
}

.pi-header .pi-header-top .navbar-nav > li:last-child > a {
    border-left: 0;
}

.pi-header .pi-header-body .pi-userbar {
    display: none;
}

.pi-header .pi-header-body .navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    background: #fff;
    border: 0;
    height: 60px;
}

.pi-header .pi-header-body .navbar-default .navbar-header img {
    padding-top: 5px;
}

.pi-header .pi-header-body .navbar-default .navbar-nav > li > a {
    color: #1a1a1a;
    font-weight: bold;
}

.pi-header .pi-header-body .navbar-default .navbar-nav > li > a:hover,
.pi-header .pi-header-body .navbar-default .navbar-nav > li > a:focus {
    color: #1a1a1a;
    border-bottom: 1px solid #f95b1e;
}

.pi-header .pi-header-body .navbar-default .navbar-nav > .active > a,
.pi-header .pi-header-body .navbar-default .navbar-nav > .active > a:hover,
.pi-header .pi-header-body .navbar-default .navbar-nav > .active > a:focus {
    color: #f95b1e;
    background-color: transparent;
    border-bottom: 0;
}

.pi-header .navbar-inverse {
    border-radius: 0;
}

.pi-header .header-search {
    position: relative;
}

.pi-header .header-search .header-search-box {
    position: absolute;
    width: 100%;
    background: rgba(26, 26, 26, 0.6);
    color: #fff;
    top: 0;
    text-align: center;
    padding-top: 15px;
}

@media (min-width: 768px) {
    .pi-header .pi-header-right {
        float: right;
    }

    .pi-header .pi-header-left {
        float: left;
    }
}

@media (max-width: 768px) {
    .pi-header .navbar-right {
        text-align: right !important;
        float: right !important;
        width: 100% !important;
        clear: both !important;
    }

    .pi-header .pi-header-top .navbar-nav > li > a {
        border-left: 0;
    }

    .pi-header .pi-header-body .pi-userbar {
        width: 100% !important;
        clear: both !important;
        display: inline-block;
    }

    .pi-header .pi-header-body .navbar-default .navbar-header img {
        width: 220px !important;
        padding-top: 10px;
    }
}

/* section */
.pi-section .pi-section-home a {
    color: #1a1a1a;
}

.pi-section .pi-section-home h2,
.pi-section .pi-section-home h3,
.pi-section .pi-section-home h4 {
    font-size: 14px !important;
    font-weight: bold;
    padding: 15px 0;
    margin: 1px 0;
}

.pi-section .pi-module-content {
    padding: 15px;
    margin-bottom: 15px;
}

.pi-section .pi-section-brand {
    background: #000;
    padding: 25px 0;
}

.pi-section .pi-section-search {
    background: #f5f5f5;
}

.pi-section .pi-section-search .pi-section-search-box {
    background: #f5f5f5;
    margin-left: -15px !important;
    margin-right: -15px !important;
    margin-bottom: 5px;
    padding: 25px;
}

.pi-section .pi-section-search .pi-section-search-box .pi-section-search-nav {
    margin-bottom: 25px;
}

.pi-section .pi-section-search .pi-section-search-box .pi-section-search-nav .pi-section-search-nav-item {
    border: 1px solid #f95b1e;
    border-radius: 25px;
}

.pi-section .pi-section-search .pi-section-search-box .pi-section-search-nav .pi-section-search-nav-item-active {
    background: #f95b1e;
    color: #fff;
}

.pi-section .pi-section-search .pi-section-search-box .pi-section-search-codearea {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
    .pi-section .pi-section-search .pi-section-search-box .pi-section-search-nav {
        display: none;
    }
}

.pi-section .pi-section-search .pi-section-search-image {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.pi-section .pi-section-join {
    padding: 75px 0;
    background: url('../image/section-join.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.pi-section .pi-section-join h3 {
    padding: 15px 0;
    font-size: 20px;
}

.pi-section .pi-section-join h4 {
    font-weight: lighter;
    padding: 5px 0 25px 0;
    font-size: 18px;
}

@media (max-width: 768px) {
    .pi-section .pi-section-join .btn {
        margin-bottom: 50px;
    }
}

.pi-section .pi-section-shop {
    padding: 45px 0;
}

@media (min-width: 768px) {
    .pi-section .pi-section-shop .container-fluid {
        padding-right: 90px;
        padding-left: 90px;
    }
}

.pi-section .pi-section-news {
    padding: 45px 0;
}

@media (min-width: 768px) {
    .pi-section .pi-section-news .container-fluid {
        padding-right: 90px;
        padding-left: 90px;
    }
}

.pi-section .pi-section-guide {
    padding: 45px 0;
}

@media (min-width: 768px) {
    .pi-section .pi-section-guide .container-fluid {
        padding-right: 90px;
        padding-left: 90px;
    }
}

.pi-section .pi-section-video {
    padding: 45px 0;
}

@media (min-width: 768px) {
    .pi-section .pi-section-video .container-fluid {
        padding-right: 90px;
        padding-left: 90px;
    }

    .pi-section .pi-section-video img {
        width: 100%;
    }

    .pi-section .pi-section-video h4 {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 3em;
    }

    .pi-section .pi-section-video .videoBox {
        margin-bottom: 25px;
    }
}

.pi-section .pi-section-title {
    margin-bottom: 45px;
}

.pi-section .pi-section-title h2 {
    text-align: center;
}

.pi-section .pi-section-title h2.no-span {
    display: table;
    white-space: nowrap;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.pi-section .pi-section-title h2.no-span:before,
.pi-section .pi-section-title h2.no-span:after {
    border-top: 2px solid #ccc;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 50%;
}

.pi-section .pi-section-title h2.no-span:before {
    left: 30px;
}

.pi-section .pi-section-title h2.no-span:after {
    right: 30px;
}

@media (max-width: 768px) {
    .pi-section .pi-section-title h2.no-span:before,
    .pi-section .pi-section-title h2.no-span:after {
        width: 40%;
    }

    .pi-section .pi-section-title h2.no-span:before {
        left: 15px;
    }

    .pi-section .pi-section-title h2.no-span:after {
        right: 15px;
    }
}

/* footer */
.pi-footer .pi-footer-text {
    background: #f5f5f5;
    padding: 25px 0;
}

.pi-footer .pi-footer-text p {
    padding: 15px;
}

.pi-footer .pi-footer-body {
    background: #1c1c1c;
    padding: 25px 0;
    color: #fff;
}

.pi-footer .pi-footer-body h4 {
    color: #f95b1e;
    padding-bottom: 15px;
}

.pi-footer .pi-footer-copyright {
    background: #353535;
    padding: 25px 0;
    color: #fff;
}

.pi-footer .pi-footer-body a,
.pi-footer .pi-footer-copyright a {
    color: #f5f5f5;
}

.pi-footer .pi-footer-body a:hover,
.pi-footer .pi-footer-copyright a:hover {
    color: #f95b1e;
}

.pi-footer-social {
    margin-top: 50px;
    margin-left: 25px;
    text-align: left;
}

.pi-footer-social ul li a {
    display: inline-block;
    background: #f95b1e;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
}

.pi-footer-social ul li a:hover {
    background: #fff;
    color: #f95b1e;
}

.pi-footer-social ul li a i {
    font-size: 16px;
}

.pi-footer-logo li {
    background: #fff;
    height: 140px;
    border-radius: 8px;
    width: 45% !important;
    text-align: center;
}

@media (max-width: 768px) {
    .pi-footer .pi-footer-copyright .col-xs-12 {
        text-align: center !important;
    }

    .pi-footer .pi-footer-body .col-xs-12 {
        text-align: center !important;
    }

    .pi-footer .pi-footer-social {
        text-align: center !important;
        margin: 15px;
    }
}

/* userbar */
.welcome-user-bar {
    display: inline-block;
    padding: 15px;
}

/* search */
.search-block input.form-control {
    background: inherit;
    border-color: #f95b1e;
    color: #fff;
    border-left: 0;
}

.search-block .btn-default {
    background: inherit;
    border-color: #f95b1e;
    color: #fff;
    border-right: 0;
}

.search-block .input-group input[type="text"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

.search-block .input-group .input-group-btn .btn {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* owl */
.owl-nav [class*='owl-'] {
    font-size: 30px !important;
    background: rgba(255, 255, 255, 0.9);
    height: 40px;
    width: 40px;
    padding: 5px 15px 5px 15px;
}

.pi-section-brand .owl-nav [class*='owl-'] {
    font-size: 30px !important;
    background: inherit !important;
    height: 40px;
    width: 40px;
    padding: 5px 15px 5px 15px;
    color: #fff !important;
}

.owl-nav [class*='owl-']:hover {
    color: #f95b1e !important;
    background: rgba(255, 255, 255, 0.9);
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 0;
    display: block !important;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 30%;
    right: 0;
    display: block !important;
}

/* btn */
.btn-default {
    color: #fff;
    background-color: #f95b1e;
    border-color: #f95b1e;
    border-radius: 25px;
}

.btn-default:focus,
.btn-default.focus {
    color: #fff;
    background-color: #F9500A;
    border-color: #F9500A;
}

.btn-default:hover {
    color: #fff;
    background-color: #F9500A;
    border-color: #F9500A;
}

/* video */
@media (max-width: 768px) {
    .video-block-new {
        text-align: center;
    }
}

/* guide */
.guide #attributes h2 {
    font-size: 12px !important;
    padding: 10px 0;
}

.guide #attributes .col-md-3 {
    width: 40% !important;
    padding: 0;
}

.guide #attributes .col-md-9 {
    width: 59% !important;
    padding: 0;
}

/* Sidebar hamburger menu */
/* https://codepen.io/j_holtslander/pen/XmpMEp */
.nav .open > a {
    background-color: transparent;
}

.nav .open > a:hover {
    background-color: transparent;
}

.nav .open > a:focus {
    background-color: transparent;
}

.pi-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-right: 0;
    transition: all 0.5s ease;
}

.pi-wrapper.toggled {
    padding-right: 220px;
}

.pi-wrapper.toggled .pi-sidebar-wrapper {
    width: 220px;
}

.pi-wrapper.toggled #page-content-wrapper {
    position: absolute;
    right: -220px;
    padding-right: 220px !important;
    margin-right: 220px !important;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.pi-sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #353535;
    height: 100%;
    right: 220px;
    margin-right: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

.pi-sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li:before {
    background-color: #353535;
    content: '';
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-nav li:first-child a {
    background-color: #353535;
    color: #ffffff;
}

.sidebar-nav li:nth-child(1):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(10):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(11):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(12):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(13):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(14):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(15):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(16):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(17):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(18):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(19):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(20):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(21):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(22):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(23):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(24):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(25):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(26):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(27):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(28):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(29):before {
    background-color: #F9500A;
}

.sidebar-nav li:nth-child(30):before {
    background-color: #F9500A;
}

.sidebar-nav li:hover:before {
    transition: width 0.2s ease-in;
    /* width: 100%; */
}

.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}

.sidebar-nav li.open:hover before {
    transition: width 0.2s ease-in;
    /* width: 100%; */
}

.sidebar-nav .dropdown-menu {
    background-color: #353535;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    /* width: 100%; */
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}

.hamburger-icon {
    margin-top: 5px;
}

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-right: 15px;
    width: 32px;
    z-index: 999;
}

.hamburger:hover {
    outline: none;
}

.hamburger:focus {
    outline: none;
}

.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #000;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 50px !important;
}

.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}

.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #353535;
    top: 5px;
}

.hamburger.is-closed .hamb-middle {
    background-color: #353535;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #353535;
    bottom: 5px;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    right: 0;
    position: absolute;
    /* width: 100%; */
    width: 50px !important;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #353535;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open .hamb-middle {
    background-color: #353535;
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #353535;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #000;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    /* width: 100px; */
}

.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

@media (max-width: 768px) {
    .pi-wrapper.toggled {
        padding-right: 0;
    }

    .pi-wrapper.toggled .pi-sidebar-wrapper {
        width: 100%;
    }

    .pi-wrapper.toggled #page-content-wrapper {
        right: 0;
        padding-right: 0;
        margin-right: 0;
    }

    .pi-sidebar-wrapper {
        height: 100%;
        right: 0;
        margin-right: 0;
        overflow-x: hidden;
    }
}